In [3]:
import os

In [6]:
# 현재 위치의 파일이 있는지 없는지
os.path.exists("test.txt")

True

# 파일

In [1]:
# 파일을 열고 자동으로 닫기(with ~as)
f = open("output.txt", "w")
f.write("Python is fun!")
f.close()

In [2]:
with open("output.txt", "w") as f :
    f.write("Python is fun!")

In [7]:
f = open("test.txt", "r")

## 파일 포인터

: 파일의 현재 위치를 가리키는 것  

- f.tell() : 현재 파일 포인터의 위치 반환
- f.seek() : 지정하는 곳으로 포인터의 위치를 변경

In [8]:
f.tell()

0

In [9]:
f.readline()

'first line\n'

In [10]:
f.tell()

11

In [11]:
f.readline()

'second line\n'

In [12]:
f.tell()

23

In [16]:
# 지정하는 곳으로 포인터의 위치를 변경
f.seek(5)
f.tell()
f.readline()

' line\n'

# 파일 참고자료

## sys 모듈

: 도스(DOS)나 리눅스쉘에서 파이썬 명령어를 실행하면서 입력인수를 넣어줄 수도 있음

```
    (형태)
    도스 명령어 [인수1  인수2]
```

In [17]:
import arth

In [18]:
arth.add(10,20)

30

# Object-Oriented Programming

In [25]:
balance = 0

def deposit(amount) :
    global balance
    balance += amount
    return balance

def withdraw(amount):
    global balance
    balance -= amount
    return balance

print(balance)
print(deposit(500))
print(balance)
print(withdraw(300))
print(balance)

0
500
500
200
200

In [26]:
# 여러개의 계좌 모델링
def make_account() :
    return {'balance' : 0}

def deposit(account, amount) :
    account['balance'] += amount
    return account['balance']

def withdraw(account, amount) :
    account['balance'] -= amount
    return account['balance']

a = make_account()
b = make_account()
print(a['balance'])
print(b['balance'])
print(deposit(a, 1000))
print(deposit(b, 2000))

0
0
1000
2000

# 클래스

: 데이터와 함수를 묶어 객체로 만들어 주는 개념  
: 객체의 기반이 되는 틀을 정의하는 개념  
: 클래스 정의 문법  

: 객체란 모종의 변수와 메서드를 담는 추상적 개념  
: 클래스는 객체의 기반이 되는 틀을 정의함  
: 클래스의 구성요소 (어트리뷰트)  
- 변수(데이터 어트리뷰트)
- 메서드(메서드 어트리뷰트)

In [28]:
class Dog :
    """A simple example class"""
    name = 'MongJa'
    
    def bark(self) :
        return 'wal wal'

In [29]:
Dog.name

'MongJa'

In [30]:
Dog.bark

In [31]:
dog1 = Dog()

In [32]:
dog1.bark()

'wal wal'

In [35]:
# 이렇게 추가를 하는 것은 그다지 추천하지 않음
# 어트리뷰트를 추가하는 방법
dog1.age = 100

In [36]:
dog1.age

100

In [38]:
dog1

In [39]:
l = [1,10,2,9,5]

In [41]:
list.sort(l)
l

[1, 2, 5, 9, 10]

In [43]:
l.sort()
l

[1, 2, 5, 9, 10]

## 특수 메서드

In [45]:
# class Sample:
#     def __init__ (self) :
#         #statement
#         return None   # 무조건 return은 None이어야 함
#                       # 또는 생략 가능

In [47]:
class Sample:
    def __init__ (self) :
        print("init 함수가 호출되었네요!")
        
a = Sample()

init 함수가 호출되었네요!

In [48]:
class Building:
    name = '공학1동'
    h = 3
    elev = True
    
    def get_info(self) :
        print("건물이름=", self.name)
        print("건물층수=", self.h)
        print("엘리베이터 유무==", self.elev)
        
a = Building()
b = Building()

a.get_info()
print()
b.get_info()

건물이름= 공학1동
건물층수= 3
엘리베이터 유무== True

건물이름= 공학1동
건물층수= 3
엘리베이터 유무== True

In [54]:
class Building2:
    def __init__(self, name ="공학1동", h =3, elev = True) :
        self.name = name
        self.h = h
        self.elev = elev
    
    def get_info(self) :
        print("건물이름 = ", self.name)
        print("건물층수 = ", self.h)
        print("엘리베이터 유무 = ", self.elev)

In [55]:
a = Building2()
b = Building2("공학2동", 10, True)

In [56]:
a.get_info()
print()
b.get_info()

건물이름 =  공학1동
건물층수 =  3
엘리베이터 유무 =  True

건물이름 =  공학2동
건물층수 =  10
엘리베이터 유무 =  True

### 클래스 실습

In [57]:
class Human:
    def __init__(self, name, age, height, weight) :
        self.name = name
        self.age = age
        self.height = height
        self.weight = weight
    
    def getolder(self) :
        self.age += 1
    
    def changeheight(self, high):
        self.height += high
        
    def changeweight(self, mass):
        self.weight += mass
        
    def get_info(self) :
        print("이름 : ", self.name)
        print("나이 : ", self.age)
        print("키   : ", self.height)
        print("몸무게 : ", self.weight)

In [62]:
a = Human("홍길동", 20, 180, 80)

In [63]:
a.get_info()

이름 :  홍길동
나이 :  20
키   :  180
몸무게 :  80

In [64]:
a.getolder()

In [65]:
a.get_info()

이름 :  홍길동
나이 :  21
키   :  180
몸무게 :  80

In [66]:
a.changeheight(10)
a.get_info()

이름 :  홍길동
나이 :  21
키   :  190
몸무게 :  80

In [68]:
a.changeweight(10)
a.get_info()

이름 :  홍길동
나이 :  21
키   :  190
몸무게 :  100

In [69]:
class Dog :
    def __init__(self, name, age) :
        self.name = name
        self.age = age
    def print_name_age(self) :
        print(self.name, self.age)

In [70]:
d1 = Dog("yomi", 5)

In [71]:
d1.print_name_age()

yomi 5

In [72]:
class dogdog :
    kind = 'canine'

In [73]:
d1 = dogdog()
d2 = dogdog()

d1.kind = 'puppy'
print(d2.kind)

canine

In [74]:
d1.kind

'puppy'

In [79]:
id(dogdog.kind), id(d2.kind), id(d1.kind)

(140049949709552, 140049949709552, 140049949487856)

In [83]:
class Dog :
    def __init__(self) :
        self.tricks =[]
    
    def add_trick(self, trick) :
        self.tricks.append(trick)

In [84]:
dog1 = Dog()
dog2 = Dog()
dog1.add_trick("roll over")
print(dog2.tricks)

[]

# 실습 문제1

In [11]:
class BankAccount : 
    def __init__(self, balance=0, name="none"):
        self.balance = balance
        self.name = name
    
    def deposit(self, amount):
        self.balance += amount
        print("입금합니다. 잔액은 %d" %self.balance)
        
    def withdraw(self, amount):
        if self.balance < amount :
            print("잔액이 부족합니다.")
        else :
            self.balance -= amount
            print("출금합니다. 잔액은 %d" %self.balance)
        
    def get_info(self, ):
        print(self.name, "님의 계좌의 잔액은", self.balance, "원입니다.")

In [12]:
a = BankAccount(100, "Gildong Hong")

In [13]:
a.get_info()

Gildong Hong 님의 계좌의 잔액은 100 원입니다.

In [14]:
a.deposit(100)

입금합니다. 잔액은 200

In [15]:
a.deposit(1000)

입금합니다. 잔액은 1200

In [16]:
a.withdraw(1500)

잔액이 부족합니다.

In [17]:
a.withdraw(1000)

출금합니다. 잔액은 200

In [18]:
a.get_info()

Gildong Hong 님의 계좌의 잔액은 200 원입니다.

# 상속

: 기존 클래스의 속성을 물려 받아 새로운 클래스를 만드는 것  
: 새 클래스는 기존 클래스의 모든 변수 및 매서드를 가짐  
: 주로 기존 클래스를 확장하는 용도로 사용  
: 다중 클래스도 상속 가능 ","로 구분

In [19]:
class A :
    a = 1
    def print_a(self) :
        print("A class")

In [20]:
class B :
    b = 1
    def print_b(self) :
        print("B class")

In [21]:
class C(A) :
    c = 1
    def print_c(self) :
        print("C class")

In [22]:
class D(C, B) :
    d = 1
    def print_d(self) :
        print("D class")

In [23]:
c = C()
d = D()

In [25]:
D.mro()

[__main__.D, __main__.C, __main__.A, __main__.B, object]

In [27]:
c.print_a()

A class

## 매서드 오버라이팅(Overriding)

In [32]:
class A() :
    def __init__(self) :
        print("this is [A] class and [__init__] function")
        self.var1 = 0
        self.var2 = 0

class B(A) :
    def __init__(self) :
        # 상속을 받은 클래스의 값을 쓰고 싶으면 super()를 사용하면 됨
        super().__init__()
        print("this is [B] class and [__init__] function")
        self.var3 = 0
        self.var4 = 0

In [33]:
b = B()

this is [A] class and [__init__] function
this is [B] class and [__init__] function

# 실습 문제2

In [70]:
class BankAccount : 
    def __init__(self, balance=0, name="none"):
        self.balance = balance
        self.name = name
    
    def deposit(self, amount):
        self.balance += amount
        print("입금합니다. 잔액은 %d" %self.balance)
        
    def withdraw(self, amount):
        if self.balance < amount :
            print("잔액이 부족합니다.")
        else :
            self.balance -= amount
            print("출금합니다. 잔액은 %d" %self.balance)
        
    def get_info(self):
        print(self.name, "님의 계좌의 잔액은", self.balance, "원입니다.")
        
        
    def __add__(self, amount) :
        self.deposit(amount)

In [51]:
class MinimumBalanceAccount(BankAccount) :
    def __init__(self, balance = 0, name = "none", min_bal = 0) :
        super().__init__(balance,name)
        self.min_bal = min_bal
        #self.name = name
        #self.balance = balance

    def withdraw(self, amount) :
        if self.balance < amount+self.min_bal :
            print("최소 잔액을 유지해야 합니다.")
        else :
            self.balance -= amount
            print("출금합니다. 잔액은 %d" %self.balance)
            
    def get_info(self) :
        super().get_info()
        print("최소 잔액 : ", self.min_bal)

In [53]:
acc = MinimumBalanceAccount(500, 'kim', 1000)
acc.deposit(1000)
acc.withdraw(600)
acc.get_info()

입금합니다. 잔액은 1500
최소 잔액을 유지해야 합니다.
kim 님의 계좌의 잔액은 1500 원입니다.
최소 잔액 :  1000

In [71]:
a = BankAccount(10000, 'kim')
a+100000
a.get_info()

입금합니다. 잔액은 110000
kim 님의 계좌의 잔액은 110000 원입니다.

In [61]:
class A :
    def sayhi(self) :
        print("say hi to A")

In [62]:
class B :
    def sayhi(self) :
        print("say hi to B")

In [63]:
class C(A,B) :
    c = 10

In [64]:
hiC = C()

In [65]:
hiC.sayhi()

say hi to A

In [67]:
# 상속도 우선순위가 있음
C.mro()

[__main__.C, __main__.A, __main__.B, object]

## 연산자 오버로딩

In [68]:
a = 10
b = 20
a.__add__(b), a+b

(30, 30)

In [69]:
a = [1,4,5]
b = ['a', 'c']
a.__add__(b), a+b

([1, 4, 5, 'a', 'c'], [1, 4, 5, 'a', 'c'])