# 튜플

: 수정 불가능한 자료형  
: 읽기만 가능  
: 괄호 () 이용

In [7]:
t1 = tuple()

In [8]:
# 튜플 내부에 원소를 하나 넣고 싶은 경우에는 (원소1, ) 이렇게 써줘야 함
t2 = (1,)

In [4]:
t2

(1,)

In [5]:
t3 =(1,2,3)

In [10]:
# 괄호를 생략해도 튜플임
t4 = 1,2,3

In [9]:
type(t4)

tuple

## 튜플 인덱싱, 슬라이싱

In [11]:
t = 1,2,3,4,5,6

In [12]:
t[0]

1

In [13]:
t[:3]

(1, 2, 3)

In [14]:
t[4:6]

(5, 6)

In [17]:
# 튜플은 내부 값을 수정하려고 하면 에러가 발생함
t[0] = 7

TypeError: 'tuple' object does not support item assignment

## 튜플 더하기, 곱하기

In [18]:
t1 =(1,2)

In [19]:
t2 =('a','b')

In [20]:
t3 = t1+t2

In [21]:
t3

(1, 2, 'a', 'b')

In [22]:
t1*3

(1, 2, 1, 2, 1, 2)

## 튜플 패킹, 언패킹

튜플 패킹 : 여러 데이터를 튜플로 묶는 것  
튜플 언패킹 : 튜플의 각 항목을 여러 개의 변수에 할당하는 것  

관련 함수 : index(), count()

In [24]:
a =1,2,3

In [25]:
a

(1, 2, 3)

In [26]:
one, two, three = a

In [27]:
print(one, two, three)

1 2 3

In [29]:
a.index(1)

0

In [30]:
a.count(1)

1

# 집합

순서없이 항목을 저장, 항목이 중복될 수 없음

관련 함수기능 : .add() , .remove(), .update(), .discard(), .clear()

In [31]:
s1 = set([1,2,3])
s2 = {3,4,5}

In [32]:
word = "Hello"*2
word

'HelloHello'

In [33]:
word_list = list(word)
word_list

['H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o']

In [34]:
s3 = set(word_list)

In [35]:
s3

{'H', 'e', 'l', 'o'}

In [36]:
s4 = set("Hello")

In [37]:
s4

{'H', 'e', 'l', 'o'}

In [38]:
t = tuple(s4)

In [39]:
t

('H', 'o', 'e', 'l')

In [53]:
order = [1,1,3,4,5,6,6,88,100]
new1 = list(set(order))
new1.sort()

In [54]:
new1

[1, 3, 4, 5, 6, 88, 100]

In [42]:
s = {1,2,3,4,5,3,4}
s

{1, 2, 3, 4, 5}

In [43]:
## 하나의 값을 올려주고 싶을 때
s.add(10)

In [44]:
s

{1, 2, 3, 4, 5, 10}

In [45]:
## 2 라는 원소를 없애라(이 원소를 무조건 지워라)
s.remove(2)

In [46]:
s

{1, 3, 4, 5, 10}

In [47]:
## 여러개의 값을 올려주고 싶을 때
s.update([1,3,5,7,9])

In [48]:
s

{1, 3, 4, 5, 7, 9, 10}

In [49]:
## 7 원소를 없애라(이 원소가 없으면 그냥 두어라)
s.discard(7)

In [50]:
s

{1, 3, 4, 5, 9, 10}

In [51]:
s.clear()
s

set()

## 합집합, 교집합, 차집합

합집합 : A.union(B)              A | B  
교집합 : A.intersection(B)       A & B  
차집합 : A.difference(B)         A - B

In [55]:
s1 = {1,2,3}
s2 = {3,4,5}

s1.union(s2)

{1, 2, 3, 4, 5}

In [56]:
s1.intersection(s2)

{3}

In [57]:
s1-s2

{1, 2}

In [58]:
s1|s2

{1, 2, 3, 4, 5}

In [59]:
s1&s2

{3}

### 실습

In [66]:
s3 = set([x for x in range(0,101,3)]) - set([0])
s5 = set([y for y in range(0,101,5)]) - set([0])

s = s3 & s5
s_list = list(s)
s_list.sort()

print(s_list, end=' ')
print("")
print("3과 5의 공배수: %d" %(len(s_list)))

[15, 30, 45, 60, 75, 90]
3과 5의 공배수: 6

In [77]:
num3 = []
num5 = []

for i in range(1, 101) :
    if i%3==0 :
        num3.append(i)
    if i%5 == 0 :
        num5.append(i)
        
num = set(num3) & set(num5)
print(sorted(num))
print("3과 5의 공배수: %d" %(len(num)))

[15, 30, 45, 60, 75, 90]
3과 5의 공배수: 6

In [80]:
nb3 = set([k for k in range(1,101) if k%3==0])
nb5 = set([m for m in range(1,101) if m%5==0])

nb = nb3 & nb5
print(sorted(nb))
print("3과 5의 공배수: %d" %(len(nb)))

[15, 30, 45, 60, 75, 90]
3과 5의 공배수: 6

# 딕셔너리

: 중괄호{} 묶임  
: key , value의 쌍으로 이뤄짐
: key 는 중복 될 수 없음  
: 항목들 사이에 순서가 없음  

```
d = {key1 : value1 , key2 : value2}
```

In [81]:
d = {}
d['kim'] = 1
d['park'] =2
d

{'kim': 1, 'park': 2}

In [82]:
d['park']

2

In [83]:
d['kim']

1

In [84]:
d['youn'] = 1

In [85]:
d

{'kim': 1, 'park': 2, 'youn': 1}

In [86]:
d.keys()

dict_keys(['kim', 'park', 'youn'])

In [87]:
d.values()

dict_values([1, 2, 1])

In [89]:
# 키와 값의 항목을 튜플 형태로

d.items()

dict_items([('kim', 1), ('park', 2), ('youn', 1)])

In [90]:
'kim' in d

True

In [91]:
'lee' in d

False

In [92]:
del d['kim']

In [93]:
d

{'park': 2, 'youn': 1}

In [94]:
d.clear()

In [95]:
d

{}

### 실습

In [105]:
sentence = input("Enter a sentence : ")
dict_sent = {}

for i in range(len(sentence)) :
    i = sentence[i]
    if i in dict_sent.keys() :
        dict_sent[i] +=1
    else :
        dict_sent[i] =1

print(dict_sent, end = " ")

Enter a sentence : Python is fun!
{'P': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 2, ' ': 2, 'i': 1, 's': 1, 'f': 1, 'u': 1, '!': 1}

# 함수와 모듈

: (좋은 함수)매개변수를 가지고 함수이름의 작업을 해서 반환값을 주는 함수  
: 매개변수 있/없 가능  
: 반환값 있/없 가능

```
def 함수이름(매개변수) :
수행할 문장
…
return 반환값
```

In [107]:
def add(a, b) :
    result = a + b
    return result

In [108]:
add_result = add(100, 200)
print(add_result)

300

In [114]:
def add3add5() :
    return 8

def print_this(s) :
    print(s)
    
print_this(add3add5())

8

In [115]:
# 튜플이나 리스트를 이용해 여러 개의 값을 반환할 수 있음

def add_and_mul(a, b) :
    return (a+b, a*b)

add_res, mul_res = add_and_mul(3,4)
print(add_res)
print(mul_res)

7
12

In [117]:
def add_and_mul2(a, b) :
    return a+b, a*b

# 하나의 값만 필요할 때는 _ 로 선언해줘도 됨
add_res2, _ = add_and_mul2(3,4)
print(add_res2)
print(_)

7
12

# 실습1

In [118]:
def my_len(x) :
    length = 0
    for i in x :
        length += 1 
    return length

a = [5,5,6,7,8,3]
b = 'Life is short.'
print(len(a), len(b)) # 내장 함수 len()
print(my_len(a), my_len(b)) # my_len()

6 14
6 14

# 실습2

In [121]:
def mult(a, b):
    value = 1
    for i in range(a, b+1, 1) :
        value = value *i
    return value

print(mult(1,3))
print(mult(2,5))

6
120

In [159]:
# 재귀함수
def mult2(a, b):
    if a == b :
        return a
    return mult2(a, b-1)*b

print(mult(1,3))
print(mult(2,5))

6
120

# 실습3

In [122]:
def sum_pos_neg(l):
    sum_p = 0
    sum_n = 0
    for i in l :
        if i <0 :
            sum_n += i
        else :
            sum_p += i
            
    return sum_p, sum_n

possum,negsum = sum_pos_neg([3,4,-6,-3])
print(possum,negsum) # 7 -9
mylist=[0,0,0,0,0,0,0,0,0,1,-1]
possum2,negsum2 = sum_pos_neg(mylist)
print(possum2,negsum2) # 1 -1

7 -9
1 -1

In [174]:
def sum_pos_neg2(l) :
    if not l :
        return 0,0
    x = l.pop()
    pos, neg = sum_pos_neg2(l)
    if x>0 :
        pos +=x
    else :
        neg +=x
    return pos, neg

sum_pos_neg2([3,4,-6,-3])

(7, -9)

# 가변 매개변수

: 매개변수가 몇 개인지 모를 경우  

```
def 함수이름 (*매개변수) :
수행할 문장
…
```

In [123]:
def count_even(*n) :
    cnt = 0
    for v in n :
        if v % 2 == 0 :
            cnt +=1
    return cnt

count_even(1,2,3,4,5)

2

## 실습4

In [162]:
def vector_sum(vector, *vectors):
    s_vector = [vector[0], vector[1]]
    for i in vectors :
        for j in range(0,2) :
            s_vector[j] += i[j]
    return s_vector

v1=[0, 1]
v2=[0.5, 0.5]
v3=[1, 0]
v4=[6, 4]
v5=[3.14, 2.72]

m1 = vector_sum(v1, v2, v3)
m2 = vector_sum(v1, v2, v3, v4)
m3 = vector_sum(v3, v5)
print(m1, m2, m3)

[1.5, 1.5] [7.5, 5.5] [4.140000000000001, 2.72]

In [178]:
def vector_sum2(vector, *vectors) :
    result = vector.copy()
    for x, y in vectors :
        result[0] += x
        result[1] += y
    return result

v1=[0, 1]
v2=[0.5, 0.5]
v3=[1, 0]
v4=[6, 4]
v5=[3.14, 2.72]

m1 = vector_sum(v1, v2, v3)
m2 = vector_sum(v1, v2, v3, v4)
m3 = vector_sum(v3, v5)
print(m1, m2, m3)

[1.5, 1.5] [7.5, 5.5] [4.140000000000001, 2.72]

# 디폴트 매개변수

: 매개변수의 기본값을 지정해줄 수 있다.  
: 함수 호출 시, 해당 매개변수에 대응되는 값을 주지 않으면 저으이할 때 지정한 기본값을 가짐
  
   
   
+ 앞 매개변수가 디폴트 값을 가지면, 뒤에 오는 매개변수는 반드시 디폴트 값을 가져야 함
```
# 맨 뒤에 디폴트 값을 위치 시켜줘야 함
def print_name(first, second='Kim'): # 정상
def print_name(first='Kim', second): # 에러 발생
def print_name(first, second, third='Kim'): # 정상
def print_name(first, second='Kim', third='M') # 정상
```  

+ 함수 호출 시, 해당 매개변수 이름을 명시적으로 지정해서 전달  
```
def calc(x, y=0, z=0) :
return x+y+z
result = calc(y=20, x=10, z=30) # 매개변수 순서 상관 없음
print(result)
>>> calc(y=20, x=10) # 정상
>>> calc(10, y=30, z=20) # 정상
>>> calc(10, 30, y=20) # 에러 발생
```

In [176]:
def print_name(first, second='Kim'): #second 변수 기본값 'Kim'
    print ('My name is', first, second + '.')

print_name('Gildong', 'Hong')
print_name('Gildong') #second 변수에 대응되는 값을 주지 않았으므로
#정의할 때 지정한 'Kim'을 가짐

My name is Gildong Hong.
My name is Gildong Kim.

In [189]:
print([1,2].sort())

None

# 실습5.

In [177]:
def merge_list(x=[], y=[]):
    mer_list = x + y
    return sorted(mer_list)

l = [3, 5, 9, 1, 2]
ml1 = merge_list(l,[2,1])
ml2 = merge_list([6,9,4])
ml3 = merge_list()
print(ml1) # [1, 1, 2, 2, 3, 5, 9]
print(ml2) # [0, 4, 6, 9]
print(ml3) # [0, 0]

[1, 1, 2, 2, 3, 5, 9]
[4, 6, 9]
[]

# 지역변수, 전역변수

- 지역변수(Local Variable)
: 함수 안에서 만들어져 함수 안에서만 사용하는 변수

```
def add_value(a, b) :
add_res = a+b
return add_res
x = 10
y = 20
res = add_value(x, y)
print(add_res) # 에러 발생
```

- 전역변수(Global Variable)
: 함수 밖에서 만들어져 아무데서나 사용할 수 있는 변수  
(단, 함수 안에서 전역변수 수정 불가)

```
def addX(_x) :
return x + _x
x = 10
y = 20
res = addX(y)
print(res) # ??
```

In [180]:
def addX(_x) :
    return x + _x

x = 10
y = 20
res = addX(y)
print(res) # ??

30

In [182]:
# 함수 안에서 전역변수 수정 불가, 수정하려면 global 키워드 사용
def addX(_x) :
    global x # 전역변수임을 명시
    x = x + _x
x = 10
y = 20
addX(y)
print(x)

30

# 모듈

: 많이 사용하는 함수를 만들어 놓고, 프로그램에서 해당 함수 사용시, import하여 사용하면 편리함

In [1]:
#FILE: test.py
#우리가 주피터 노트북을 이용해서 이 함수를 불러오므로 라이브러리를 하나 추가 해줘야함
#import_ipynb 라이브러리를 사용함으로써 arth 파일을 불러올 수 있음
import import_ipynb
import arth
numbers = input('Enter two integers: ')
a, b = numbers.split()
a = int(a)
b = int(b)
print ("%d + %d = %2d" % (a, b, arth.add(a, b)))
print ("%d - %d = %2d" % (a, b, arth.sub(a, b)))
print ("%d * %d = %2d" % (a, b, arth.mul(a, b)))
print ("%d / %d = %.1f" % (a, b, arth.div(a, b)))

importing Jupyter notebook from arth.ipynb
Enter two integers: 13 5
13 + 5 = 18
13 - 5 =  8
13 * 5 = 65
13 / 5 = 2.6

# 모듈

- import module_name #기본적인 모듈 불러오기  
    : import math  
    : math.factorial(10)  
- import module_name as mn #모듈에 다른 이름을 붙이기  
    : import math as mt  
    : mt.factorial(10)  
- from module_name import func #특정 함수만 불러오기  
    : from math import factorial  
    : factorial(10)

In [3]:
import random

random.choice('abcdefg')

'b'

In [193]:
random.randint(1,3)

3

In [195]:
random.randrange(1, 3+1)

1

In [196]:
Ls = [1,2,3,4,5]
random.shuffle(Ls)
print(Ls)

[4, 2, 3, 1, 5]

In [197]:
random.sample([1,2,3,4,5,6],3)

[1, 4, 5]

# 실습6

In [17]:
import random

num_list =[]
for i in range(1,46) :
    num_list.append(i)
    
for i in range(1, 6) :
    result = random.sample(num_list, 6)
    result.sort()
    print("%d번째 자동 기입 ==> " %i ,*result)

1번째 자동 기입 ==>  4 9 15 16 31 40
2번째 자동 기입 ==>  11 15 26 27 41 45
3번째 자동 기입 ==>  7 9 17 19 27 28
4번째 자동 기입 ==>  4 12 14 16 24 31
5번째 자동 기입 ==>  10 13 14 20 29 31

In [18]:
## 모든 번째 줄의 번호가 안겹치게 짠 코드...
print("** 로또 번호 자동 기입을 시작합니다 **")

union = list(range(1,46,1))
first = random.sample(union, 6)

print("1번째 자동 기입 ==> ", end = '')
for i in range(6):
    print(sorted(first)[i], end =' ')

union = list(set(union) - set(first))
second = random.sample(union, 6)
print("\n2번째 자동 기입 ==> ", end = '')
for i in range(6):
    print(sorted(second)[i], end =' ')

union = list(set(union) - set(second))
third = random.sample(union, 6)
print("\n3번째 자동 기입 ==> ", end = '')
for i in range(6):
    print(sorted(third)[i], end =' ')

union = list(set(union) - set(third))
forth = random.sample(union, 6)
print("\n4번째 자동 기입 ==> ", end = '')
for i in range(6):
    print(sorted(forth)[i], end =' ')


union = list(set(union) - set(forth))
fifth = random.sample(union, 6)
print("\n5번째 자동 기입 ==> ", end = '')
for i in range(6):
    print(sorted(fifth)[i], end =' ')

** 로또 번호 자동 기입을 시작합니다 **
1번째 자동 기입 ==> 18 23 30 34 36 44
2번째 자동 기입 ==> 5 14 16 22 35 39
3번째 자동 기입 ==> 7 9 13 21 26 45
4번째 자동 기입 ==> 8 11 17 27 32 37
5번째 자동 기입 ==> 2 15 24 38 40 43

# 실습7.

In [11]:
def get_min_max(l):
    max_ = max(l)
    min_ = min(l)

    l.remove(max_)
    l.remove(min_)

    return min_,max_ 
    
l = [3, 5, 9, 1, 2]
min_val, max_val = get_min_max(l)
print(min_val)
print(max_val)
print(l)

1
9
[3, 5, 2]

# 실습8.

In [21]:
def comb_dict(d1, d2):
    d3 = {}
    for i in d1 :
        for k in d2 :
            if i == k :
                d3[i] = d1[i] + d2[k]
                continue
            else : 
                d3[i] = d1[i]
                d3[k] = d2[k]
    return d3

d1 = {'a': 1, 'b': 3, 'd': 7, 'e': 8}
d2 = {'a': 2, 'c': 4, 'e': 1}
d3 = comb_dict(d1, d2)
print(d3)

{'a': 2, 'c': 4, 'e': 9, 'b': 3, 'd': 7}

# 실습9.

In [20]:
def diff(num1, num2, *nums):
    num_list = []
    num_list.append(num1)
    num_list.append(num2)
    
    for x in nums :
        num_list.append(x)
    
    min_ = min(num_list)
    max_ = max(num_list)
    
    diff = max_ - min_ 
    return diff

print(diff(1,2,3,4,5))
print(diff(-100, 200))
# diff(1) # 오류발생!

4
300